// 定义基本颜色
$dark-primary-color: #AB7DFE;
$light-primary-color: #6c5fd7;
$accent-color: #FF9D42;
$error-color: #FF4C4C;

// 背景色，高亮面/分割底色
$dark-bg-color: #1d1f23;
$dark-bgh-color: #25272d;
$dark-bgd-color: #1b1d21;

$light-bg-color: #ffffff;
$light-bgh-color: #f5f7ff;
$light-bgd-color: #edf0f2;

// 字体颜色
$light-text-color: #000000;
$light-text-secondary-color: #50565c;
$light-text-gray-color: #868e96;
$light-text-light-color: #d1d7dd;

$dark-text-color: #ffffff;
$dark-text-secondary-color: #d1d7dd;
$dark-text-gray-color: #868e96;
$dark-text-light-color: #50565c;

