.app-avatar {
    background-color: #3a4ec5;
    color: white;
    border-radius: 50%;
    padding: 4px;
    margin: 2px 4px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}