<mat-toolbar class="d-flex gap-1">
  <!-- <mat-icon class="clickable" matTooltip="返回" (click)="back()">arrow_back</mat-icon> -->
  <span>添加</span>
</mat-toolbar>
<form class="d-flex p-2" *ngIf="!isLoading" [formGroup]="formGroup">
  <div class="d-flex flex-column w-100">
    <mat-form-field>
      <mat-label>配置键</mat-label>
      <input matInput placeholder="Key,不超过100字" formControlName="key" required minlength="" maxlength="100">
      <mat-error *ngIf="key?.invalid">
        {{getValidatorMessage('key')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>说明</mat-label>
      <input matInput placeholder="Description,不超过500字" formControlName="description" minlength="">
      <mat-error *ngIf="description?.invalid">
        {{getValidatorMessage('description')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>配置值</mat-label>
      <textarea placeholder="使用json字符串表示" matInput formControlName="value" rows="6" maxlength="2000"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>分组</mat-label>
      <input matInput placeholder="分组" formControlName="groupName" minlength="" maxlength="100">
      <mat-error *ngIf="groupName?.invalid">
        {{getValidatorMessage('groupName')}}
      </mat-error>
    </mat-form-field>

    <mat-slide-toggle class="my-2" color="primary" formControlName="valid">启用</mat-slide-toggle>
    <div class="d-flex mt-1 justify-content-end">
      <button class="d-flex flex-column" mat-flat-button color="primary" (click)="add()">添加</button>
    </div>
  </div>
</form>