<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="d-flex flex-row-reverse">
      <button mat-icon-button *ngIf="opened" (click)="toggle()">
        <mat-icon>keyboard_double_arrow_left</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!opened" (click)="toggle()">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
      </button>
    </div>
    <mat-accordion multi>
      <!-- 客户管理 -->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a class="nav-title">
              <mat-icon fontSet="">assignment_ind</mat-icon>
              <span *ngIf="opened">客户管理</span>
            </a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/customer-info" routerLinkActive="active"
             [matTooltip]="opened?'': '客户管理'"
             matTooltipPosition="right">
            <mat-icon fontSet="">person</mat-icon>
            <span *ngIf="opened">客户管理</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/customer-tag" routerLinkActive="active"
             [matTooltip]="opened?'': '客户标签'"
             matTooltipPosition="right">
            <mat-icon fontSet="">style</mat-icon>
            <span *ngIf="opened">客户标签</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/customer-property" routerLinkActive="active"
             [matTooltip]="opened?'': '客户字段'" matTooltipPosition="right">
            <mat-icon>table_view</mat-icon>
            <span *ngIf="opened">客户字段</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- 系统配置 -->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a class="nav-title">
              <mat-icon fontSet="">admin_panel_settings</mat-icon>
              <span *ngIf="opened">系统管理</span>
            </a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/system-role" routerLinkActive="active"
             [matTooltip]="opened?'': '角色管理'"
             matTooltipPosition="right">
            <mat-icon>groups</mat-icon>
            <span *ngIf="opened">角色管理</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/system-user" routerLinkActive="active" [matTooltip]="opened?'':'管理账号'"
             matTooltipPosition="right">
            <mat-icon fontSet="">manage_accounts</mat-icon>
            <span *ngIf="opened">管理账号</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/system-logs" routerLinkActive="active" [matTooltip]="opened?'':'系统日志'"
             matTooltipPosition="right">
            <mat-icon>manage_search</mat-icon>
            <span *ngIf="opened">系统日志</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/system-config" routerLinkActive="active"
             [matTooltip]="opened?'':'系统设置'"
             matTooltipPosition="right">
            <mat-icon fontSet="">settings</mat-icon>
            <span *ngIf="opened">系统设置</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/data-import" routerLinkActive="active" [matTooltip]="opened?'':'数据导入'"
             matTooltipPosition="right">
            <mat-icon fontSet="">upload_file</mat-icon>
            <span *ngIf="opened">数据导入</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
