<mat-toolbar class="d-flex gap-1">
  <!-- <mat-icon matTooltip="返回" (click)="back()">arrow_back</mat-icon> -->
  <span>编辑</span>
</mat-toolbar>
<form class="d-flex p-2" *ngIf="!isLoading" [formGroup]="formGroup">
  <div class="d-flex flex-column w-100">

    <mat-form-field>
      <mat-label>用户名</mat-label>
      <input matInput placeholder="用户名,不超过30字" formControlName="userName" required minlength="" maxlength="30">
      <mat-error *ngIf="userName?.invalid">
        {{getValidatorMessage('userName')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>密码</mat-label>
      <input matInput placeholder="密码,不超过60字" formControlName="password" minlength="" maxlength="60">
      <mat-error *ngIf="password?.invalid">
        {{getValidatorMessage('password')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>角色</mat-label>
      <mat-select placeholder="角色" formControlName="roleIds" required multiple>
        <mat-option *ngFor="let item of roles" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="roleIds?.invalid">
        {{getValidatorMessage('roleIds')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>真实姓名</mat-label>
      <input matInput placeholder="真实姓名,不超过30字" formControlName="realName" minlength="" maxlength="30">
      <mat-error *ngIf="realName?.invalid">
        {{getValidatorMessage('realName')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email,不超过100字" formControlName="email" minlength="" maxlength="100">
      <mat-error *ngIf="email?.invalid">
        {{getValidatorMessage('email')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>PhoneNumber</mat-label>
      <input matInput placeholder="PhoneNumber,不超过20字" formControlName="phoneNumber" minlength="" maxlength="20">
      <mat-error *ngIf="phoneNumber?.invalid">
        {{getValidatorMessage('phoneNumber')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>头像url</mat-label>
      <input matInput placeholder="头像url,不超过200字" formControlName="avatar" minlength="" maxlength="200">
      <mat-error *ngIf="avatar?.invalid">
        {{getValidatorMessage('avatar')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>性别</mat-label>
      <mat-select formControlName="sex">
        <mat-option *ngFor="let item of Sex | toKeyValue" [value]="item.value">
          {{item.value | enumText:'Sex'}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="sex?.invalid">
        {{getValidatorMessage('sex')}}
      </mat-error>
    </mat-form-field>

    <div class="d-flex mt-1 justify-content-end">
      <button class="d-flex flex-column" mat-flat-button color="primary" (click)="edit()">保存</button>
    </div>
  </div>
</form>