<mat-toolbar class="d-flex gap-1">
  <!-- <mat-icon matTooltip="返回" (click)="back()">arrow_back</mat-icon> -->
  <span>编辑</span>
</mat-toolbar>
<form class="d-flex p-2" *ngIf="!isLoading" [formGroup]="formGroup">
  <div class="d-flex flex-column w-100">
    <mat-form-field>
      <mat-label>客户类型(试听/正式)</mat-label>
      <mat-select formControlName="customerType">
        <mat-option *ngFor="let item of CustomerType | toKeyValue" [value]="item.value">
          {{item.value | enumText:'CustomerType'}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="genderType?.invalid">
        {{getValidatorMessage('customerType')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>姓名</mat-label>
      <input matInput placeholder="真实姓名,不超过40字" formControlName="name" required minlength="" maxlength="40">
      <mat-error *ngIf="name?.invalid">
        {{getValidatorMessage('realName')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>微信号/昵称</mat-label>
      <input matInput placeholder="联系信息,不超过100字" formControlName="contactInfo" minlength="" maxlength="100" required>
      <mat-error *ngIf="contactInfo?.invalid">
        {{getValidatorMessage('contactInfo')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>性别</mat-label>
      <mat-select formControlName="genderType">
        <mat-option *ngFor="let item of GenderType | toKeyValue" [value]="item.value">
          {{item.value | enumText:'GenderType'}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="genderType?.invalid">
        {{getValidatorMessage('genderType')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>客户来源</mat-label>
      <input matInput placeholder="客户来源,不超过60字" formControlName="source" minlength="" maxlength="60">
      <mat-error *ngIf="source?.invalid">
        {{getValidatorMessage('source')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>说明备注</mat-label>
      <textarea matInput placeholder="说明备注,不超过2000字" formControlName="remark" minlength="" maxlength="2000"
        rows="6"></textarea>
      <mat-error *ngIf="remark?.invalid">
        {{getValidatorMessage('remark')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>联系电话</mat-label>
      <input matInput placeholder="联系电话,不超过20字" formControlName="contactPhone" minlength="" maxlength="20">
      <mat-error *ngIf="contactPhone?.invalid">
        {{getValidatorMessage('contactPhone')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>联系邮箱</mat-label>
      <input matInput placeholder="联系邮箱,不超过100字" formControlName="contactEmail" minlength="" maxlength="100">
      <mat-error *ngIf="contactEmail?.invalid">
        {{getValidatorMessage('contactEmail')}}
      </mat-error>
    </mat-form-field>

    <div class="d-flex mt-1 justify-content-end">
      <button class="d-flex flex-column" mat-flat-button color="primary" (click)="edit()">保存</button>
    </div>
  </div>
</form>