@import 'src/vars.scss';

.tag {
  display: inline-block;
  padding: 2px 8px;
  color: #f1f1f1;
  border-radius: 12px;
  margin-right: 2px 4px;
  cursor: pointer;
  transition: all 0.3s;
}

@media (prefers-color-scheme: dark) {
  .primary {
    background-color: darken($color: $dark-primary-color, $amount: 5%);

    &:hover {
      background-color: darken($color: $dark-primary-color, $amount: 10%);
    }

    &.active {
      background-color: lighten($color: $dark-primary-color, $amount: 0);
    }
  }

  .accent {
    background-color: darken($color: $accent-color, $amount: 5%);

    &:hover {
      background-color: darken($color: $accent-color, $amount: 10%);
    }

    &.active {
      background-color: lighten($color: $accent-color, $amount: 0);
    }
  }

  .warn {
    background-color: darken($color: $error-color, $amount: 5%);

    &:hover {
      background-color: darken($color: $error-color, $amount: 10%);
    }

    &.active {
      background-color: lighten($color: $error-color, $amount: 0);
    }
  }
}

@media (prefers-color-scheme: light) {
  .primary {
    background-color: darken($color: $light-primary-color, $amount: 5%);

    &:hover {
      background-color: darken($color: $light-primary-color, $amount: 10%);
    }

    &.active {
      background-color: lighten($color: $light-primary-color, $amount: 0);
    }
  }

  .accent {
    background-color: darken($color: $accent-color, $amount: 5%);

    &:hover {
      background-color: darken($color: $accent-color, $amount: 10%);
    }

    &.active {
      background-color: lighten($color: $accent-color, $amount: 0);
    }
  }

  .warn {
    background-color: darken($color: $error-color, $amount: 5%);

    &:hover {
      background-color: darken($color: $error-color, $amount: 10%);
    }

    &.active {
      background-color: lighten($color: $error-color, $amount: 0);
    }
  }
}