<div class="d-flex">
  <mat-toolbar class="box-shadow">
    <mat-toolbar-row style="font-size:16px">
      <div class="d-flex gap-1 align-items-center">
        <!-- 筛选 -->
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>搜索</mat-label>
          <input type="search" matInput placeholder="操作人;按回车搜索" [(ngModel)]="filter.actionUserName"
            (keyup.enter)="getList()">
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>操作类型</mat-label>
          <mat-select placeholder="操作类型" [(ngModel)]="filter.actionType">
            <mat-option [value]="">全部</mat-option>
            <mat-option *ngFor="let item of ActionType | toKeyValue" [value]="item.value">
              {{item.value | enumText:'UserActionType'}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- 添加时间范围控件 -->
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>时间范围</mat-label>
          <mat-date-range-input [rangePicker]="picker" [dateFilter]="filterDate">
            <input matStartDate placeholder="开始时间" [(ngModel)]="filter.startDate">
            <input matEndDate placeholder="结束时间" [(ngModel)]="filter.endDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <div class="d-flex">
          <button mat-flat-button (click)="getList()" color="primary">搜索</button>
        </div>
      </div>
      <div class="d-flex flex-grow-1"></div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!-- 加载框 -->
<div class="d-flex text-center justify-content-center mt-2">
  <mat-spinner mode="indeterminate" *ngIf="isLoading">
  </mat-spinner>
</div>


<div *ngIf="!isLoading" class="px-2">
  <!-- 无数据时显示 -->
  <ng-container *ngIf="data && data.length<=0; else elseTemplate">
    <h4>
      暂无数据！
    </h4>
  </ng-container>
  <ng-template #elseTemplate>
    <table mat-table [dataSource]="dataSource" style="width: 100%;" #table="matTable">

      <ng-container matColumnDef="actionUserName">
        <th mat-header-cell *matHeaderCellDef>操作人名称</th>
        <td mat-cell *matCellDef="let element;table:table">
          {{element.actionUserName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="targetName">
        <th mat-header-cell *matHeaderCellDef>操作对象名称</th>
        <td mat-cell *matCellDef="let element;table:table">
          {{element.targetName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="route">
        <th mat-header-cell *matHeaderCellDef>操作路由</th>
        <td mat-cell *matCellDef="let element;table:table">
          {{element.route}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actionType">
        <th mat-header-cell *matHeaderCellDef>操作类型</th>
        <td mat-cell *matCellDef="let element;table:table">
          {{element.actionType |enumText:'UserActionType'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>描述</th>
        <td mat-cell *matCellDef="let element;table:table">
          {{element.description}}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef>时间</th>
        <td mat-cell *matCellDef="let element;table:table">
          {{element.createdTime | date: 'yyy-MM-dd HH:mm:ss'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>操作</th>
        <td mat-cell *matCellDef="let element;table:table">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-divider></mat-divider>
    <div class="d-flex justify-content-between paginator">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>跳转到</mat-label>
        <input matInput type="number" [value]="filter.pageIndex" #pageJump (keyup.enter)="jumpTo(pageJump.value)">
      </mat-form-field>
      <mat-paginator [pageSizeOptions]="pageSizeOption" [pageIndex]="filter.pageIndex!-1" [pageSize]="filter.pageSize"
        [length]="total" (page)="getList($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </ng-template>
</div>

<ng-template #myDialog>
  <h2 mat-dialog-title>标题</h2>
  <mat-dialog-content>
    <form [formGroup]="mydialogForm">
      <mat-form-field appearance="fill">
        <mat-label>名称</mat-label>
        <input matInput placeholder="名称" formControlName="name" required>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button color="primary">确认</button>
  </mat-dialog-actions>
</ng-template>